@import "tailwindcss";
@import "./fonts.css";

@theme {
    /* Font Customization */
    --font-family-primary: LiberationSans;
    --font-family-primary-bold: LiberationSans-bold;

    /* Color Customization */

    --color-primaryMain: #488AFF;
    --color-secondaryMain: #E9E9E9;
    --color-lightDark: #6D6D6D;
    --color-mediumDar: #1E1E1E;
}